section {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.resume-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px; /* Add padding to ensure space between content and footer */
}

.resume-content a {
  margin: 20px 0;
  color: #007bff;
  text-decoration: none;
  font-size: 1.2em;
}

.resume-content a:hover {
  text-decoration: underline;
}

.resume-content h3 {
  margin-top: 40px;
  font-size: 1.5em;
}

.resume-content div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.resume-content img {
  margin: 10px;
  width: 50px;
  height: 50px;
}
