body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

main {
  padding: 80px 20px 80px; /* Adjust to prevent content from being hidden behind the fixed header and footer */
  margin-top: 60px; /* Adjust margin to ensure main content is not hidden behind the header */
}
